---
title: Projekte
layout: page
sitemap:
  changefreq: weekly
  priority: 1.0
---
<div class="list">
{% for project in site.data.projects %}
  <div class="project">
    <svg width="600" height="480" viewBox="1 0 1 0.8" class="animated-background">
      <g>
      {% assign duration = 0 %}
      {% assign values = "0" %}
      {% assign keyTimes = "0" %}
      {% for image in project.images %}
        {% assign duration = duration | plus:6 %}
        {% capture values %}{{ values }}; -{{ forloop.index }}; -{{ forloop.index }}{% endcapture %}
        {% capture keyTimes %}{{ keyTimes }}; 0.{{ forloop.index0 | times:60 | plus:10 | divided_by:forloop.length | divided_by:6 | module:10 }}{{ forloop.index0 | times:600 | plus:100 | divided_by:forloop.length | divided_by:6 | modulo:10 }}; {{ forloop.index | divided_by:forloop.length }}.{{ forloop.index | times:10 | divided_by:forloop.length | modulo:10 }}{{ forloop.index | times:100 | divided_by:forloop.length | modulo:10 }}{% endcapture %}
        <image xlink:href="../images/projects/{{ image|e }}"
               x="{{ forloop.index }}"
               preserveAspectRatio="none"
               y="0"
               width="1"
               height="0.8" />
        {% if forloop.first %}
        <image xlink:href="../images/projects/{{ image|e }}"
               x="{{ forloop.length | plus:1 }}"
               preserveAspectRatio="none"
               y="0"
               width="1"
               height="0.8" />
        {% elsif forloop.last %}
        <animateTransform attributeName="transform"
                          attributeType="XML"
                          type="translate"
                          values="{{ values }}"
                          keyTimes="{{ keyTimes }}"
                          begin="0s" 
                          fill="freeze" 
                          repeat="indefinetly" 
                          repeatCount="indefinite"
                          dur="{{ duration }}s" />
        {% endif %}
      {% endfor %}
      </g>
    </svg>
    <a href="{{ project.url|e }}">
      <div class="overlay">
        <h1 class="title">
          {{ project.title|e }}
        </h1>
        <div class="description">
          {{ project.description|e }}
        </div>
      </div>
    </a>
  </div>
{% endfor %}