<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/footer.css" media="screen">
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/fonts.css" media="screen">
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/post.css" media="screen">
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/header.css" media="screen" />
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/main.css" media="screen" />