<link rel="stylesheet" type="text/css" href="{{ site.baseurl | escape }}/stylesheets/fonts.css" media="screen">
<link rel="stylesheet" type="text/css" href="{{ site.baseurl | escape }}/stylesheets/header.css" media="screen" />
<link rel="stylesheet" type="text/css" href="{{ site.baseurl | escape }}/stylesheets/home.css" media="screen" />
<link rel="stylesheet" type="text/css" href="{{ site.baseurl | escape }}/stylesheets/footer.css" media="screen">
<link rel="stylesheet" type="text/css" href="{{ site.baseurl | escape }}/stylesheets/post.css" media="screen">
<link rel="stylesheet" type="text/css" href="{{ site.baseurl | escape }}/stylesheets/main.css" media="screen" />
<link rel="stylesheet" type="text/css" href="{{ site.baseurl | escape }}/stylesheets/projects.css" media="screen" />
<link rel="stylesheet" type="text/css" href="{{ site.baseurl | escape }}/stylesheets/overview.css" media="screen" />
