---
title: Radiobeiträge
layout: page
sitemap:
  changefreq: monthly
  priority: 1.0s
---
<div id="radio-description" class="center">
  <p>
    Von Zeit zu Zeit rede ich bei Radiobeiträgen mit.
    Hier sind welche gelistet.
    Vorträge, Artikel, Webseiten und Musik sind unter den Beiträgen verlinkt.
    Weiteres aus meinem nahen Umfeld könnt ihr hier erfahren:
  </p>
  <ul>
    <li>
      Diese Beiträge sind für das
      <a href="http://frrapo.de/player/index.php">Freie Radio Potsdam</a>
      produziert.
    </li>
    <li>
      Der <a href="https://radio.ccc-p.org/">Chaostreff Potsdam (CCCP)</a>
      sendet im Nerdtalk.
    </li>
    <li>
      Ein befreundeter Podcast ist der
      <a href="https://www.podcast.de/podcast/666600/">Pod4Future</a>
      von Tobias Oberender.
    </li>
    <li>
      Jana, die ich bei <a href="#xr-2019-06">Makers for Humanity Lab 2019</a>
      getroffen habe, reist durch Europa und besucht Orte alternativen
      Lebens: <a href="http://www.envolution.eu/">envolution.eu</a>.
    </li>
  </ul>
</div>
<div class="radio center">
{% for broadcast in site.data.radio reversed %}
  <div class="broadcast" id="{{ broadcast.id | escape }}">
    <h1 class="title">
      <a href="#{{ broadcast.id | escape }}">{{ broadcast.title | escape }}</a>
    </h1>
    <h2 class="album">{{ broadcast.album | escape | replace: " ", "&nbsp;" }}</h2>
    <div class="track">
      <audio controls>
        {% for track in broadcast.audio %}
          <source src="{{ track | escape }}" type="audio/{{ track | split: '.' | last | escape }}" />
        {% endfor %}
      </audio>
    </div>
    <div class="description">
      <span class="date">{{ broadcast.date }}</span>
      {{ broadcast.description | escape }}
    </div>
    <ul>
      {% for link in broadcast.links %}
        <li>
          <a href="{{ link.url | escape}}">{{ link.name | escape }}</a>
        </li>
      {% endfor %}
    </ul>
    Download:
    <ul>
      {% for track in broadcast.audio %}
        <li>
          <a href="{{ track | escape }}" class="track">▶ {{ track | split: '/' | last | split: '=' | last | escape }}</a>
          {% if broadcast.license %}
          <span class="license">(Lizenz: <a href="{{ broadcast.license.url | escape }}">{{ broadcast.license.name | escape }}</a>)</span>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
    Ausstrahlung:
    <ul>
      {% for broadcast in broadcast.broadcasts %}
        <li><a href="{{ broadcast.url | escape }}" class="track">{{ broadcast.name }}</a></li>
      {% endfor %}
    </ul>
  </div>
{% endfor %}
</div>

