footer {
  text-align: center;
  right: 0px;
  left: 0px;
  top: 0px;
  border: 0px;
  box-shadow: 0px 1px 5px #989898;
  background-color: black;
  color: white;
  overflow: hidden;
  padding: 1em;
  margin-top: 1em;
}

footer img {
  height: 1em;
  vertical-align: middle;
}

footer a {
  color: white;
}