
a {
  color: black;
}

.center {
  max-width: 40em;
  position: absolute;
  left:50%;
  transform:translateX(-20em);
  -webkit-transform:translateX(-20em);
  -ms-transform:translateX(-20em);
}

img {
    max-width: 40em;
}