
a {
  color: #1a924d;
  text-decoration: none; /* no underline */
}

.center {
  max-width: 40em;
  margin: 0 auto;
}

.center img {
  max-width: 40em;
}

.radio {
}
.radio .track audio {
  width: 100%;
  margin-top: 0.3em;
}
.radio .description {
  padding: 0.3em;
  padding-bottom: 0em;
}
.radio .description .date {
  color: gray;
  margin-right: 0.3em;
}
.radio .album {
  padding-left: 0.6em;
  color: gray;
  font-size: 1em;
}
.radio .title, .radio .album {
  display: inline;
}
.radio .title a {
  text-decoration: none;
  color: black;
}

#radio-description {
  margin-bottom: 1em;
}
